/* 
    Document   : casino
    Description:
        Control the layout and feel of lectureGaming
        (Taken and changed from casino.css 14.11 - 14:00)
*/

body { 
    display: block;
    font-family: Myriad Pro, Arial, sans-serif;
    margin: 0;
    background-color: #f00;
    background: -webkit-linear-gradient(left, #444, #fff, #444); /* For Safari */
    background: -o-linear-gradient(left, #444, #fff, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #444, #fff, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #444, #fff, #444); /* Standard syntax */
}
header, footer {
    margin-left: auto;
    margin-right: auto;
    background-color: #f00;
    color: #ff3;
    padding-left: 1em;
    padding-right: 1em;
}
header h1 {
    font-size: 3em;
    padding-top: .3em;
    margin: 0;
    color: #ff3;
}
hr {clear: both; border: 1px solid #fff}
footer hr, header hr {
    border: 3px solid #ff3; 
    margin: 0; 
    margin-left: -1em; 
    margin-right: -1em;
}
footer p {colour: #f00;}

/*START MENY*/
nav {
    float: left; 
    padding: 0; 
    margin: 0; 
}
nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none; /*fjerner de runde punktene til lister*/
    border: 1px solid #f00;
    border-bottom: 0;
}

nav h1 {font-size: .5em; color: #f00; display: block; margin: 0; margin-left: 1em;}/*skjuler h1 som leses av skjermleser (main menu)*/
nav a {
    display: block;
    border: 1px solid #f00;
    border-bottom: 0;
    margin: 0;
    padding: .5em;
    color: #ff3; 
    background-color: #f00;
}
a {color: inherit; text-decoration:none;} /*fjerner understreking på lenker*/
a:hover {color: white; background-color: black;}
nav a:hover {color: #f00; background-color: #ff3;} /*meny skifter farge*/

nav ul {z-index: 2;}
nav ul li ul {z-index: 3;}

nav ul li {
    position: relative; /*blokker med relativ posisjon kan være forelder til blokk med absolutt posisjon*/
    float: left;
    background-color: #ff3;
    min-width: 8em;
    color: #f00; 
} 
nav ul li ul li {font-size: 1em;}
nav ul li ul li:last-child {border-bottom: 6px solid #ff3;}
nav ul li ul { /*tar underlisten aka. undermenyen ut av flyt*/
    position: absolute;
    border: 0;
    width: 100%; /*like stor som moder-elementet*/
    top: 100%; /*et moderelement ned*/
    left: 0; /*starter samme posisjon som mor*/
} 

/*gjemmer og viser undermeny-elementene*/
nav ul li ul {display: none;}
nav ul li:hover ul {
    display: block;
    width: 100%;
} /*i praksis 'nav ul li ul' der hover er til moderelementet til ul vi skal manipulere*/

/*SLUTT MENY*/
#about_us{
    margin-left:2em;
}
#front_page {
    text-align: center;
}
#front_page h1 {font-size: 2em;}
.centerbutton{
    font-size: 1.5em;
    margin: auto;
    text-align: center;
    float: none;
}
#forsidebilde {
    width: 388px;
    float: none;
}
article img {
    float: right;
    width: 36em;
    margin: 1em;
}
article h1 {
    margin: 0;
    font-size: 1.2em;
}
article h2{
    margin: 0;
    font-size: 1.0em;
}
article {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #ff3;
    padding: 1em;
}
#bj {background-image:url('flames.jpg');}

#hr_bottom {border: 0;}
/* Highscores */
table{
    text-align: center;
    margin: auto;   
}
#nr1{
    font-size: 3.5em;
}
#space_left{
    padding-right: 50px;
}
#space_right{
    padding-left: 50px;
}
#nr2{
    font-size: 2.8em;
}
#nr3{
    font-size: 2em;
}
table tr{
    font-size: 1.35em;
}
fieldset{
    margin: 0;
    border: 2px solid #ff3;
}
#highscore_title {
    font-size: 2.4em;
}
/* SLUTT HIGHSCORES*/


/* START SPILLEROMRÅDE: */
#spill_resultat { /*boks med beskjeder fra spillet til spilleren*/
    display: none;
    position: absolute;
    left: 35%;
    top: 35%;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border: 2px solid #f33;
    border-radius: 1em;
    text-align: center;
    font-size: 1.5em;
    background-color: #ff0;
    color: #f00;
}

.card {
    width: 10em;
    height: 14.21em;
    border: none;
    z-index: 5;
    margin: 0;
}
.card_right {
    float: right;
}
.card_under_right {
    float: right;
    margin-left: -6.5em;
}
.card_left {
    float: left;
}
.card_under_left {
    float: left;
    margin-right: -6.5em;
}
#hidden_card {display: none;}
/*bokser med sum av kort*/
.cards_sum {
    border: 1px solid #ff3;
    color: #f00;
    border-radius: .3em;
    font-size: 3em;
    margin-top: 4px;
    padding: .5em;
    width: 1.33em;
    text-align: center;
    z-index: 5;
}
#cards_sum_dealer {
    margin-left: .3em;
    float: right;
}
#cards_sum_player {
    margin-right: .3em;
    float: left;
}
/*bokser med sum av cash*/
legend {font-size: .5em;}
.cash {
    border: 1px solid #ff0;
    color: #f00;
    border-radius: .3em;
    margin-top: .8em;
    font-size: 3em;
    padding: .5em;
    text-align: center;
    z-index: 5;
}
#stake_boks {
    float: left;
}
#bank_boks {
    float: right;
}
/* knappene til spilleren */
button {
    border: 2px solid #f00;
    background-color: #ff3;
    color: #f00;
    font-size: 2.5em;
    float: left;
}
#button_holder {
    clear: both;
    margin-left: .3em;
}
/* felt for å skrive inn innsats */
#bet_name {color: #f00; font-size: 2.0em;}
#innsats {
    border: 2px solid #ff3;
    background-color: red;
    color: #000;
    font-size: 2.5em;
    text-align: center;
}
/* SLUTT SPILLEROMRÅDE */

/*only if screen has less than 500px width, ie smart phones*/
@media screen and (max-width:500px) { 
    button, #innsats {font-size: 3.5em;} 
    nav ul li { /*større knapper er lettere å treffe med fingeren*/
        border: 1px solid #fff;
        font-size: 2.5em;
    }
}
/* FOR STORE SKJERMER */
@media all and (min-width:800px){
    article, header, footer {
        max-width: 800px;
    }
    #highscore_field{
    margin-left: 10%;
    margin-right: 10%;
    }
}
/* FOR LAPTOPSKJERMER */
@media screen and (max-height:750px) {
    body {font-size: 0.9em;} /*arves nedover da vi hele tiden har brukt em-verdier!!!*/
}
